Python lambda expressions allow you to define anonymous functions.

Anonymous functions are functions without names. The anonymous functions are useful when you need to use them once.

In [1]:
# The following shows the lambda expression syntax:

lambda parameters: expression

Itâ€™s equivalent to the following function without the "anonymous" name:

In [2]:
def anonymous(parameters):
    return expression

1) Functions that accept a function example

In [3]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)

The following defines two functions that return a full name from the first name and last name in different formats:

In [4]:
def first_last(first_name, last_name):
    return f"{first_name} {last_name}"


def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"

And this shows you how to call the get_full_name() function by passing the first name, last name, and first_last / last_first functions:

In [5]:
full_name = get_full_name('John', 'Doe', first_last)
print(full_name) # John Doe

full_name = get_full_name('John', 'Doe', last_first)
print(full_name) #  Doe, John

John Doe
Doe, John

For example, you can express the first_last function using the following lambda expression:

In [6]:
lambda first_name,last_name: f"{first_name} {last_name}"

And the following converts the last_first function using a lambda expression that returns the full name in the format: last name, space, and first name:

In [7]:
lambda first_name, last_name: f"{last_name} {first_name}";

In [8]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

2) Functions that return a function example

The following times() function returns a function which is a lambda expression:

In [9]:
def times(n):
    return lambda x: x * n

In [10]:
double = times(2)

In [12]:
result = double(2)
print(result)

result = double(3)
print(result)

4
6

The following shows another example of using the times() function:

In [13]:
triple = times(3)

print(triple(2))  # 6
print(triple(3))  # 9

6
9

#### Python lambda loop

In [14]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

The expected output will be:
    
1

2

3

In [15]:
callables = []
for i in (1,2,3):
    callables.append(lambda a = i: a)
for f in callables:
    print(f())

1
2
3